{% extends "base.html" %}

{% block content %}

<div class="row">
	<div class="col-md-4"></div>
	<div class="col-md-4">
		<h1 class="text-center">Вход</h1>
		<form role="form"   method="post" name="sign_in">
			<div class="form-group">
				<label for="login" class="control-label ">Логин:</label>
				{{ form.login(size=32, type="login", class="form-control", id="login", placeholder="Введите логин") }}
			</div>
			<div class="form-group">
				<label for="password" class="control-label ">Пароль:</label>
				{{ form.password(size=32, type="password", class="form-control", id="password", placeholder="Введите пароль") }}
			</div>
			<br>
			<div class="form-group">
				{{ form.submit(class="btn btn-primary") }}
			</div>
		</form>
	</div>
	<div class="col-md-4"></div>
</div>

{% endblock %}